.Gopher {
  width: 50px;
  cursor: pointer;
  font-size: 30px;
  display: inline-block;
  border: 1px solid #eee;
  &.box {
    background-color: #fcc;
    &:hover {
      background-color: #ffc;
    }
  }
}