.HW23SunMoon {
  min-height: 100vh;
  transition: all .3s;
  &.sun {
    background-color: #d9ebff;
  }
  &.moon {
    color: #fff;
    background-color: #061321;
    .icon {
      top: -100vh;
    }
  }

  .dashboard {
    position: relative;
    z-index: 1;
  }

  .icon {
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    z-index: 0;
    height: 200vh;
    position: absolute;
    display: inline-block;
    transition: all .3s;
    > div {
      position: relative;
      height: 100vh;
    }
    img {
      display: block;
      position: absolute;

      top: 50%;
      transform: translate(-50%, -50%);
      &:first-of-type {
        margin-bottom: 300px;
      }
    }
  }
}